@page
@model ExerciseRazerPage.Pages.Order.AddModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
	<style>
		body {
			font-family: Arial, sans-serif;
		}

		label {
			margin: 5px;
		}

		input, select {
			width: 50%;
			height: 30px;
		}
	</style>
</head>
<body>
	<div style="display: flex; justify-content: center">
		<div style="width: 60%; margin-top: 3em">
			<form method="post">
				<fieldset>
					<legend><b>Information of Order</b></legend>
					<label>Employee:</label>
					<select name="EmployeeID">
						@if (Model.employees != null)
						{
							foreach (var e in Model.employees)
							{
								<option value="@e.EmployeeId">@e.FirstName @e.LastName</option>
							}
						}
					</select>
					<br>
					<br>
					<label>Customer:</label>
					<select name="CustomerID">
						@if(Model.customers != null){
						foreach (var e in Model.customers)
						{
							<option value="@e.CustomerId">@e.CompanyName - @e.ContactName</option>
							}
						}
					</select>
					<br>
					<br>
					<label>Order Date:</label>
					<input type="date" id="OrderDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" name="OrderDate">
					<br>
					<br>
					<label>Ship Address:</label>
					<input type="text" id="ShipAddress" name="ShipAddress" placeholder="FPT University - Hoa Lac High Tech Park, Hanoi, Vietnam">
					<br>
					<br>
					<label>Ship Country:</label>
					<input type="text" id="ship_country" name="ShipCountry" placeholder="Vietnam">
					<br>
					<br>
				</fieldset>
				<input style="float: right; width: fit-content; padding: 5px; margin-top: 10px; background-color: forestgreen; color: white; cursor: pointer" type="submit" value="Add New Order">
			</form>
			@Model.Message <a asp-page="/Order/List" >Show Orders</a>
		</div>
	</div>
</body>