@page "{pageNumber?}"
@model ExerciseRazerPage.Pages.Order.ListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
	<style>
		.orderList th, td {
			padding: 3px;
		}
		/* CSS */
		#back-to-top {
			position: fixed;
			bottom: 40px;
			right: 40px;
			z-index: 9999;
			text-align: center;
			line-height: 30px;
			background: #f5f5f5;
			color: indianred;
			cursor: pointer;
			border: 2px solid #ccc;
			border-radius: 15px;
			text-decoration: none;
			transition: opacity 3s ease-out;
			opacity: 0.85;
		}

			#back-to-top:hover {
				opacity: 1;
			}

		h3 {
			margin: 10px 0px;
		}

		.pagination {
			text-align: center;
			margin: 10px;
		}
	</style>
</head>
<body>
	<div style="display: flex; justify-content: space-between">
		<div style="height: 100vh; background-color: aliceblue; padding: 10px; position: fixed; top: 0; left: 0">
			<div><h2 style="text-align: center; background-color: bisque; width: 100%">FILTER</h2></div>
			<form method="post" id="form">
				<h3>Employee:</h3>
				<select name="EmployeeID" asp-for="EmployeeID"
						style="width: 100%; height: 30px">
					<option value="-1">All Employees</option>
					@if (Model.employees != null)
					{
						foreach (var e in Model.employees)
						{
							<option value="@e.EmployeeId">@e.FirstName @e.LastName</option>
						}
					}
				</select>
				<h3>Customer:</h3>
				<select name="CustomerID" asp-for="CustomerID"
						style="width: 100%; height: 30px">
					<option value="-1">All Customers</option>
					@if (Model.customers != null)
					{
						foreach (var e in Model.customers)
						{
							<option value="@e.CustomerId">@e.CompanyName</option>
						}
					}
				</select>
				<h3>From:</h3>
				<input type="date" name="FromDate" value="1980-01-01" style="width: 100%; height: 30px" />
				<h3>To:</h3>
				<input type="date" name="ToDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" style="width: 100%; height: 30px" />
				<h3>Sort By:</h3>
				@switch (Model.SortBy)
				{
					case "OrderDate":
						<input type="radio" checked value="OrderDate" name="SortBy" /> <label>Order Date</label>
						<br>
						<input type="radio" value="Freight" name="SortBy" /> <label>Freight</label>
						<br>
						break;
					case "Freight":
						<input type="radio" value="OrderDate" name="SortBy" /> <label>Order Date</label>
						<br>
						<input type="radio" checked value="Freight" name="SortBy" /> <label>Freight</label>
						<br>
						break;
					default:
						<input type="radio" checked value="OrderDate" name="SortBy" /> <label>Order Date</label>
						<br>
						<input type="radio" value="Freight" name="SortBy" /> <label>Freight</label>
						<br>
						break;
				}


				<input type="hidden" id="pageNumber" name="pageNumber">
				<input type="submit" value="Load Orders" style="margin-top: 15px; width: 100%; height: 30px; cursor: pointer" />
			</form>
		</div>
		<div style="padding: 0 10px 10px 10px; margin-left: 260px; border-left: 2px dashed #ccc">
			<div style="display: flex; justify-content: space-between">
				<div><h2>List of Order</h2></div>
				<div style="display: flex; align-items: center">
					<a href="/Order/Add">
						<button style="padding: 5px; background-color: forestgreen; color: white; cursor: pointer">
							Add New Order
						</button>
					</a>
					@* <button type="submit" asp-page-handler="add" style="padding: 5px; background-color: forestgreen; color: white; cursor: pointer">
					Add New Order
					</button> *@
				</div>
			</div>
			<div style="display: flex; justify-content: center">
				@{
					if (Model.Orders.Count == 0)
					{
						<div>-- No Data --</div>
					}
					else
					{
						<table class="orderList" border="1px" style="border-collapse:collapse">
							<tr>
								<th>OrderID</th>
								<th>Customer</th>
								<th>Employee</th>
								<th>Order Date</th>
								<th>Required Date</th>
								<th>Shipped Date</th>
								<th>Freight</th>
								<th>Ship Country</th>
							</tr>
							@foreach (var o in Model.Orders)
							{
								<tr>
									<td>@o.OrderId</td>
									<td>@o.Customer.CompanyName</td>
									<td>@o.Employee.FirstName @o.Employee.LastName</td>
									<td>@o.OrderDate</td>
									<td>@o.RequiredDate</td>
									<td>@o.ShippedDate</td>
									<td>@o.Freight</td>
									<td>@o.ShipCountry</td>
								</tr>
							}
						</table>
					}
				}
			</div>
			<a href="#" id="back-to-top" style="display: none;padding: 5px;">
				<i style="text-align: center" class="fa fa-arrow-up"></i>
				<br />Back To Top</a>
			<div class="pagination">
				@for (int i = 1; i <= Model.TotalPages; i++)
				{
					@if (!Model.isFilter)
					{
						@if (Model.CurrentPageNumber == i)
						{
							<a style="cursor: pointer; margin:0 5px; color: red; font-weight: bold;
												text-decoration: none; border: 2px solid #ccc; line-height: 2;
												padding: 5px; border-radius: 9px; font-size: 18px" href="/Order/List/@i">@i</a>
						}else{
							<a style="cursor: pointer; margin: 0 5px; color: black; text-decoration: none; line-height: 2;" href="/Order/List/@i">@i</a>
						}
					}
					else
					{
						@if (Model.CurrentPageNumber == i)
						{
							<a href="#" style="cursor: pointer; margin:0 5px; color: red; font-weight: bold;
												text-decoration: none; border: 2px solid #ccc; line-height: 2;
												padding: 5px; border-radius: 9px; font-size: 18px" 
							onclick="OnClickPageNumberLink(@i)" id="pageNumberLink">@i</a>
						}
						else
						{
							<a href="#" style="cursor: pointer; margin: 0 5px; text-decoration: none; color: black; line-height: 2;"
							   onclick="OnClickPageNumberLink(@i)" id="pageNumberLink">@i</a>
						}
					}
				}
			</div>
		</div>
	</div>
	<script>
		// JavaScript
		$(document).ready(function () {
			$(window).scroll(function () {
				if ($(this).scrollTop() > 50) {
					$('#back-to-top').fadeIn();
				} else {
					$('#back-to-top').fadeOut();
				}
			});
			// scroll body to 0px on click
			$('#back-to-top').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 400);
				return false;
			});
		});

	</script>
	<script>
		function OnClickPageNumberLink(i) {
			console.log("pageNumber = " + i);
			document.getElementById('pageNumber').value = i;
			document.getElementById('form').submit();
		}
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>